<%= form_tag "/plants", method: :post do  %>
  <p>name<input type="text" name="input_name"></p>
  <p>age<input type="text" name="input_age"></p>
  <p>height<input type="text" name="input_height"></p>
  <p>color<input type="text" name="input_color"></p>
  <input type="submit" value="make a new plant">
<% end %>
